google-play-scraper>=1.2.7
praw>=7.7.1
apify-client>=1.7.1
requests>=2.32.3
beautifulsoup4>=4.12.3
pandas>=2.2.3
pyarrow>=17.0.0
langdetect>=1.0.9
groq>=0.11.0
python-dotenv>=1.0.1
pyyaml>=6.0.2
tqdm>=4.67.1
